<p>my-component-test works!</p>
<p>
    <b>Number of People </b> {{ persons.length }}
</p>
<!-- <button class="btn secondary" (click)="addUser()">Add Test User</button> -->
<button class="btn primary" (mouseover)="filterBy('active')" [disabled]="false"> Active </button>
<button class="btn primary" (click)="filterBy('inactive')"> Inactive </button>
<button class="btn primary" (click)="filterBy('')"> All </button>
<button class="btn primary" (click)="filterBy('female')"> Female </button>
<button class="btn primary" (click)="filterBy('male')"> Male </button>

<div class="people_list">
    <!-- Pipes are good to transform the data int eh template without doing logic in the component class -->
    <!-- <div *ngFor="let p of persons" class="list"> -->

    <!-- It is also setting filter as the argument from the pipe class -->
    <div *ngFor="let p of persons | personFilter:filter | personSorter" class="list">
        <!-- Any time if i see app-person or any other entity it always reffers to a component.
       The brackets in the below person [person] means it is an input value. 
       deleteUser($event) is the Output methodology to define.
        -->
        <app-person [person]="p" (deletePerson)="deleteUser($event)" (editPerson)="openEditUserModal($event)">
        </app-person>
        <!--here when we triggere delete person, it will go to test component-->

    </div>
</div>
<!--<div class="timestamp"> {{ date | date:'M/d/yy' }}</div> -->
<div class="timestamp"> {{ date | date:'short' }}</div>